body {
    margin: 0;
    height: 1000px;
    padding: 20px;
    background: linear-gradient(180deg, rgba(214,199,0,0.46187363834422657) 0%, rgba(0,214,207,0.7690631808278867) 64%, rgba(0,85,210,0.8257080610021786) 100%) no-repeat;
}
// *, *::after, *::before { box-sizing: border-box;}
h1 {
    color: #0055d2;
    letter-spacing: 1.4px;
    text-align: center;
    padding: 28px;
    font-size: 36px;
}

.cards-container {
    .pile {
        height: 160px;
        width: 120px;
        border-radius: 15px;
        background: #0052d639;
    }
    .card {
        position: relative;
        border-radius: 15px;
        background: white;
        border: 1px solid #484848;
        height: 160px;
        width: 120px;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 72px;
        &:before, &:after {
            position: absolute;
            font-size: 20px;
            content: attr(data-value);
        }
        &:before {
            top: .5rem;
            left: .5rem;
        }
        &:after {
            bottom: .5rem;
            right: .5rem;
        }
        &.red {
            color: red;
        }
        &.black {
            color: black;
        }
    }


    .main-pile {
        display: grid;
        grid-template-columns: repeat(2, 8rem);
        grid-template-rows: repeat(1, 10rem);
        gap: 1rem;
        margin-bottom: 40px;
    }
    .foundation-piles {
        display: grid;
        grid-template-columns: repeat(4, 8rem);
        grid-template-rows: repeat(1, 10rem);
        gap: 1rem;
        margin-bottom: 80px;
    }
    .seven-piles {
        display: grid;
        grid-template-columns: repeat(7, 8rem);
        grid-template-rows: repeat(1, 10rem);
        gap: 1rem;
    }


}